<h2>Index page</h2>
<p>asaopke iotjguw ng ruigjtm iapowijug regjn euhginskdja as f egrth fb</p>
<a asp-action="SendFile" asp-controller="File">Send File</a><br />
<a asp-action="EditFile" asp-controller="File">Edit File</a><br />
<a asp-action="EditRegis" asp-controller="Auth">Edit</a>