@model EditFileViewModel

<table>
    <tr>
        <td>
            UserId:
        </td>
        <td>
            <input type="text" asp-for="UserId" />
        </td>
    </tr>
    <tr>
        <td>
            FilecatId:
        </td>
        <td>
            <input type="text" asp-for="FileCatsId" />
        </td>
    </tr>
    <tr>
        <td>
            Specialization:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Specialization)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Udv:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Udv)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Pension:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Pension)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Certificates:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Certificates)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Employhis:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Employhis)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Addres:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Addres)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Conviction:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Conviction)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Narcodisp:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Narcodisp)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Psychodisp:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Psychodisp)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Military:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Military)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Docphoto:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Docphoto)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Refmainjob:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Refmainjob)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Marriage:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Marriage)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Cash:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Cash)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            Forma086:
        </td>
        <td align="left" class="left_menu">
            @foreach (string fname in Model.Forma086)
            {
                <a data-fancybox="gallery" href="https://localhost:44340/api/userdocs/GetImage/@fname">
                    <img src="https://localhost:44340/api/userdocs/GetImage/@fname" class="box transform" width="100" style="border: 1px dashed #33D8FF;">
                </a>
            }
        </td>
    </tr>
</table>